h1 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#upcoming-parties h2 {
  padding-left: 2em;
  margin-left: 0.2em;
}

h2 {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.75em;
}

a {
  text-decoration: none;
  color: black;
}
